[user]
  email = cwhelan9534@gmail.com
  name = Chad Whelan
[push]
  autoSetupRemote = true
[color]
  ui = auto
[pull]
  rebase = true
[alias]
  lg = log  --graph
  lb = log --show-linear-break
[format]
  pretty = %C(yellow)%h%Creset %ad | %Cgreen%s%Creset %Cred%d%Creset %Cblue[%an]
[log]
  date = short
# Not sure these work...
#[core]
#  pager = diff-so-fancy | less --tabs=4 -RFX
#[interactive]
#  diffFilter = diff-so-fancy --patch
